@{
    ViewData["Title"] = "Backoffice";
}

<div class="row">
    <div class="col-lg-9">
        <h1 class="mb-3">Backoffice</h1>
        <p>Area reservada a utilizadores autenticados com perfil de administrador.</p>
    </div>
</div>
