@{
    ViewData["Title"] = "Pedido submetido";
}

<div class="row">
    <div class="col-lg-8">
        <h1 class="mb-3">Pedido submetido</h1>
        <p>Obrigado. O seu pedido foi registado com sucesso.</p>
        <a asp-action="ApoioBens" class="btn btn-outline-primary">Submeter outro pedido</a>
    </div>
</div>
