@{
    ViewData["Title"] = "Encaminhamento";
}

<div class="row">
    <div class="col-lg-9">
        <h1 class="mb-3">Encaminhamento</h1>
        <p>Área reservada a utilizadores autenticados com perfil de voluntário.</p>
        <div class="list-group">
            <a href="/encaminhamento/pedidos" class="list-group-item list-group-item-action">
                Consultar Pedidos
            </a>
        </div>
    </div>
</div>
